<h1></h1>

<table class="table">
  <tr>
    <th>Brand</th>
    <td><%= report.brand %></td>
  </tr>
  <tr>
    <th>Flag</th>
    <td><%= report.flag %></td>
  </tr>
  <tr>
    <th>City</th>
    <td><%= report.address.city %></td>
  </tr>
  <tr>
    <th>State</th>
    <td><%= report.address.state %></td>
  </tr>
</table>
