<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Qik Report</title>
  </head>
  <body>
    <div class="flashes">
      <% if (flashMessages) { %>
        <% if (flashMessages.success) { %>
          <div class="flash success"><%= flashMessages.success %></div>
        <% } else if (flashMessages.error) { %>
          <div class="flash error"><%= flashMessages.error %></div>
        <% } %>
      <% } %>
    </div>
    <form action="/reports/create" method="post">
      <label for="brand">Brand</label>
      <input type="text" name="brand" id="brand" value="">
      <br>
      <label for="flag">Flag</label>
      <input type="text" name="flag" id="flag" value="">
      <br>
      <label for="code">Code</label>
      <input type="text" name="code" id="code" value="">
      <br>
      <label for="city">City</label>
      <input type="text" name="city" id="city" value="">
      <br>
      <label for="state">State</label>
      <input type="text" name="state" id="state" value="">
      <br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
